{
 "openapi": "3.1.0",
 "info": {
  "title": "Market Chronicle 公开数据 · Public Data",
  "summary": "美股编年史的公开 JSON：KAPX 指数、恐惧的标价指数、宏观与传导链序列、每日自核与哈希链。免鉴权、CORS 开放、每交易日更新。",
  "description": "本规格登记的是 llms.txt 与 data/README.md 已点名的对外契约端点。站自己的前端也吃这些文件，所以它们不会被锁——**免费门永远敞开**是这个站的地基（锁它＝自断 AI 引用，也自毁「网站永远免费」的承诺）。\n\n口径与如实披露、三层证据、怎么自己重算一遍：见 https://chronicle.klay-wang.com/data/README.md。\n\n授权：三段划分，别混：**编纂/派生指标/台账结构**＝Klay Wang，PolyForm Noncommercial 1.0.0（非商业免费，商用另谈 klaywang24+marketchronicle@gmail.com）；**原始数值**＝转录自公开源（Cboe / FRED / FINRA / CFTC / Yahoo Finance / CNN）的事实，受各自源条款约束，我们不主张所有权；**Kaggle 与 Hugging Face 上的季度提取物**＝另以 CC BY 4.0 释出（署名即可，含商用）。",
  "version": "1.0.0",
  "contact": {
   "name": "Market Chronicle",
   "url": "https://chronicle.klay-wang.com"
  },
  "license": {
   "name": "PolyForm Noncommercial 1.0.0",
   "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
  }
 },
 "servers": [
  {
   "url": "https://chronicle.klay-wang.com"
  }
 ],
 "x-license-note": "三段划分，别混：**编纂/派生指标/台账结构**＝Klay Wang，PolyForm Noncommercial 1.0.0（非商业免费，商用另谈 klaywang24+marketchronicle@gmail.com）；**原始数值**＝转录自公开源（Cboe / FRED / FINRA / CFTC / Yahoo Finance / CNN）的事实，受各自源条款约束，我们不主张所有权；**Kaggle 与 Hugging Face 上的季度提取物**＝另以 CC BY 4.0 释出（署名即可，含商用）。",
 "x-machine-readable": {
  "llms": "https://chronicle.klay-wang.com/llms.txt",
  "llmsFull": "https://chronicle.klay-wang.com/llms-full.txt",
  "sitemap": "https://chronicle.klay-wang.com/sitemap.xml",
  "apiCatalog": "https://chronicle.klay-wang.com/.well-known/api-catalog",
  "openapi": "https://chronicle.klay-wang.com/openapi.json"
 },
 "x-refresh": "每个美股交易日一次（云管线 GitHub Actions，收盘后 1~2 小时）",
 "x-auth": "none",
 "x-cors": "*",
 "paths": {
  "/data/kindex.json": {
   "get": {
    "operationId": "get_kindex",
    "summary": "KAPX 指数逐日序列",
    "description": "K = CNN 恐贪 ÷ VIX 的逐日读数：日期、恐贪、VIX、纳斯达克100、K 值、当前读数。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "KAPX 指数逐日序列",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-series-id": "mc.kapx.cnn_vix.v1"
   }
  },
  "/data/kindex_signals.json": {
   "get": {
    "operationId": "get_kindex_signals",
    "summary": "KAPX 信号台账",
    "description": "2011 年以来每一次 K < 1 的信号，含 20/40/60 交易日与至今的前向纳指回报。赢的和输的都在。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "KAPX 信号台账",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/leaps.json": {
   "get": {
    "operationId": "get_leaps",
    "summary": "极端恐惧窗口台账",
    "description": "2011 年以来 CNN 恐贪收在 25 以下的每一段，含 6/12/18 个月与至今的前向标普/纳指回报。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "极端恐惧窗口台账",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/leaps_gauge.json": {
   "get": {
    "operationId": "get_leaps_gauge",
    "summary": "恐惧的标价指数逐日序列",
    "description": "VIX1Y 的三年滚动百分位，另带四项 context。⚠️ 授权与其余不同，见 x-license。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "恐惧的标价指数逐日序列",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    },
    "x-series-id": "mc.fear_price.vix1y_pct3y.v1"
   }
  },
  "/data/pulse.json": {
   "get": {
    "operationId": "get_pulse",
    "summary": "当日市场脉动",
    "description": "头版当日读数：市场温度（估值+广度分位）、指数报价、板块涨跌。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "当日市场脉动",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/sentiment.json": {
   "get": {
    "operationId": "get_sentiment",
    "summary": "情绪仪表盘",
    "description": "Put/Call、VXN 溢价、SKEW、期限结构、恐贪七分量。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "情绪仪表盘",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/breadth.json": {
   "get": {
    "operationId": "get_breadth",
    "summary": "市场广度",
    "description": "标普成分股在 200 日均线上的占比。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "市场广度",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/macro.json": {
   "get": {
    "operationId": "get_macro",
    "summary": "宏观与传导链序列",
    "description": "FRED 公开序列的周频/同比视图：资金面、信用利差、利率曲线、贴现窗口、央行互换，以及 2026-09-05 起的水位层（资产负债表/财政部账户/准备金/期限溢价/两条利率腿）。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "宏观与传导链序列",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/cot_vix.json": {
   "get": {
    "operationId": "get_cot_vix",
    "summary": "VIX 期货 COT 站位",
    "description": "CFTC 承诺持仓：VIX 期货的杠杆基金与资管净持仓。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "VIX 期货 COT 站位",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/cot_rates.json": {
   "get": {
    "operationId": "get_cot_rates",
    "summary": "国债期货 COT 站位",
    "description": "CFTC TFF：10 个国债/短端期货市场的杠杆基金站位。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "国债期货 COT 站位",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/vx_curve.json": {
   "get": {
    "operationId": "get_vx_curve",
    "summary": "VIX 期货期限结构",
    "description": "9 档月份的 VIX 期货价与升水/倒挂形态。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "VIX 期货期限结构",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/move.json": {
   "get": {
    "operationId": "get_move",
    "summary": "MOVE 指数与三年分位",
    "description": "美债期权隐含波动率，利率侧的「保险价格」。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "MOVE 指数与三年分位",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/meta.json": {
   "get": {
    "operationId": "get_meta",
    "summary": "数据 as-of 与署名",
    "description": "各序列的数据截止日期与数据源署名。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "数据 as-of 与署名",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/ledger_audit.json": {
   "get": {
    "operationId": "get_ledger_audit",
    "summary": "每日自核结果",
    "description": "git 里当天发布过的值 vs 今天重算的值，分歧逐条公开。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "每日自核结果",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/gauge_math.json": {
   "get": {
    "operationId": "get_gauge_math",
    "summary": "每日口径自检",
    "description": "当日头条读数用参考实现独立重算的比对结果。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "每日口径自检",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/ledger_hashes.jsonl": {
   "get": {
    "operationId": "get_ledger_hashes",
    "summary": "哈希链",
    "description": "每日锚定：删任何一天，其后全部对不上。Wayback 上有独立见证快照。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "哈希链",
      "content": {
       "application/jsonl": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/digest_archive.json": {
   "get": {
    "operationId": "get_digest_archive",
    "summary": "日更归档索引",
    "description": "每期 digest 的标题、日期与各平台链接。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "日更归档索引",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/options_page.json": {
   "get": {
    "operationId": "get_options_page",
    "summary": "期权异动与判断层",
    "description": "墙位、开奖台账、大单榜等**加工读数**。🚫 原始逐笔合约行不在此，也永不上网。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "期权异动与判断层",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  },
  "/data/f13_page.json": {
   "get": {
    "operationId": "get_f13_page",
    "summary": "13F 开奖页",
    "description": "机构名册的季度持仓变化与开奖记录。",
    "tags": [
     "data"
    ],
    "x-license": {
     "name": "PolyForm Noncommercial 1.0.0",
     "url": "https://polyformproject.org/licenses/noncommercial/1.0.0"
    },
    "responses": {
     "200": {
      "description": "13F 开奖页",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     }
    }
   }
  }
 }
}
